<% if @player.deck_cards.size > 0 %>
  <h3>Your cards:</h3>

  <ul>
    <% @player.deck_cards.each do |deck_card| %>
      <li><%= deck_card.value %> <%= deck_card.suit %></li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Deal Cards", deal_game_path(@game) %>
<% end %>