.card,
.deck {
  display: inline-block;
}

.card {
  width: 85px;
  height: 115px;
  margin: 7px;
  border: 1px solid black;
  border-radius: 3px;
}

.clubs,
.diamonds,
.hearts,
.spades {
  background-color: silver;
}

.deck {
  background-color: pink;
}

.deck,
.face-up {
  border: 2px solid black;
}

.face-up-highlight {
  background-color: yellow;
  border: 2px solid blue;
}
